body{
    background-color: #3e3b4a;
    margin:0 auto;
}
#header{
    display: flex;
     max-width: 1024px;
    
}
.wrapper{
    display: flex;
    max-width: 1024px;

}
.header-logo-menu{
    background: url('img/menu.png')no-repeat center;
    width: 22px;
    margin-top:92px;
    margin-bottom: 96px;
    margin-left: 120px;
}
.header-logo-text{
    color:#fff;
}
.headline-logo{
    text-align: center;
    margin-left:384px;
    margin-top: 71px;
    font-weight: bold;
}
.subtitle-logo{
    margin-top:2px;
    margin-left: 382px;  

}
.header-logo-search{
    background: url('img/search.png')no-repeat;
    width: 90px;
    
}

.home-container{
    display: flex;
   align-items: center;
   justify-content: center;
}
.content-title-left{
    display: flex;
    flex-direction: row;
}
.content-right{
    background: #eb7b61;
    color:#fff;
    width: 380px;
    height: 485px;
}

