@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:&display=swap');

body{
    background-color: #3e3b4a;
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
}
#header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1020px;
    
}
#header::after{
    content: '';
    display: block;
    clear: both;
}
.wrapper{
    display: flex;
    max-width: 1020px;

}
.header-logo-menu{
    background: url('css/img/menu.png')no-repeat;
    width: 22px;
    height: 3px;
    margin-top:92px;
    margin-bottom: 96px;
    margin-left: 120px;
}
.header-logo-text{
    color:#fff;
}
.headline-logo{
    text-align: center;
    margin-left:384px;
    margin-top: 71px;
    font-weight: bold;
    font-size: 48px;
}
.subtitle-logo{
    width: 120px;
    margin-top:2px;
    margin-left: 400px;
    font-size: 13px;
    color:#898691;
}
.header-logo-search{
    background: url('img/search.png')no-repeat;
    width: 97px;
    margin-top:95px;
    margin-left: 374px;
    margin-bottom: 38px;
}
/*content*/

.home-container{
    margin-left:120px;
    background: url('/img/slide-1.jpg')no-repeat;
    flex-basis:100%;
    position:relative;
    align-items: center;
    justify-content: center;
}
.home-subtitle{
    position: absolute;
    width:52px;
    top:41px;
    left:44px;
    font-size: 14px;
    color: #ffc7b0;
    text-transform: uppercase;
    font-weight: bold;
}
.home-title{
    position: absolute;
    top:28px;
    left:43px;
    font-size: 72px;
    color:#fff;
    font-weight: bold;
}

.home-container-text{
    position: absolute;
    left:41px;
    bottom:105px;
    font-size: 36px;
    color:#fff;
}

a{
    text-decoration: none;
}

.content-title-left{
    margin-left: 120px;
    margin-top: 22px;
    position: relative;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    width: 625px;
}
.content-subtitle{
    position: absolute;
    text-transform: uppercase;
    color: #ffc7b0;
    font-size: 14px;
    font-weight: bold;
    margin-left: 44px;
    margin-top:37px;
}
.peak-title{
    position: absolute;
    height: 35px;
    width: 116px;
    color: #fff;
    font-size:48px;
    margin-left: 44px;
    margin-top:71px;
}
.content-text-left{
    color:#fff;
    font-size: 24px;
    position: absolute;
    margin-top:130px;
    margin-left:44px;
    width: 190px;
    height: 78px;
    padding-top:25px;
}
.content-container-button,.home-container-button{
    position: absolute;
    height: 37px;
    bottom: 40px;
    left:42px;
    font-size:20px;
    font-weight: bold;
    color:#fff;
    background-color: Transparent;
    border:3px solid #ffe18f;
}
.home-container-button a{
    color:#fff;
}

.content-right{
    position: absolute;
    display: flex;
    flex-direction:column;
    flex-basis: 100%;
    background: #eb7b61;
    color:#fff;
    width: 378px;
    height: 484px;
    margin-left: 765px;
    margin-top: 22px;
}
.content-title-right{
    font-family: Times New Roman;
    font-size: 48px;
    text-align: center;
    height: 45px;
}
.threepoint {
    margin-left:177px;
    top:30px;
}
.content-text-right{
    margin-left:60px;
    margin-bottom:18px;
    font-size: 24px;
    font-family: Times New Roman;
}
.content-right-email input{
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #eb7b61;
    color:#ffd9d1;
    border: 3px solid #ffd9d1;
    text-align: center;
    margin-left:53px;
    width: 278px;
    height: 36px;
}
.content-right-subscribe{
    background-color: #66689c;
    width: 286px;
    height: 41px;
    text-align: center;
    margin-left: 53px;
    margin-top:20px;
    padding-top:14px;
}
.content-right-subscribe a{
    color:#ffffff;
}
.content-right-text-under{
    margin-left:65px;
    font-size: 14px;
    margin-top:34px;
    color:#ffffff;
    width: 247px;
}
/*multimedia*/
.cameras-Leica-M{
    display: flex;
    background: url('img/slide-3.png') no-repeat;
    flex-direction: column;
    position: relative;
    margin-left:120px;
    width: 255px;
    height:423px;
    margin-top: 20px;
}
.subtitle-cameras{
    position:absolute;
    color:#ffc7b0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 36px;
    margin-left:86px;
}
.Leica-M-title{
   position: absolute;
   font-size:36px;
   color:#ffffff;
   margin-left:68px;
   margin-top:190px; 
}
.review-button,.review-button-two{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffe18e;
    border:3px solid #ffe18e;
    margin-top:341px;
    margin-left:84px;
    margin-bottom:38px;
    
}
.review-button a,.review-button-two a{
    color:#3d3c4a;
}
.phone-on-stand{
    display: flex;
    position: relative;
    margin-left:22px;
    width: 263px;
    height: 420px;
    margin-top: 20px;
}
.subtitle-phone{
    position: absolute;
    color:#ffc7b0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 36px;
    margin-left:99px;
}
.trobla-amplifier-title{
    position: absolute;
    font-size:36px;
    color:#ffffff;
    margin-top:169px;
    margin-left:68px;
}

.cameras-leica-dlux{
display: flex;
position: relative;
margin-left:22px;
width:482px;
margin-top: 20px;
}

.subtitle-cameras-two{
    position: absolute;
    color:#ffc7b0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:36px;
    margin-left:44px;
}
.leica-dlux-title{
    position: absolute;
    font-size:36px;
    color:#ffffff;
    margin-top:65px;
    margin-left:44px;
}
.leica-dlux-text{
    position: absolute;
    color:#fff;
    margin-top:113px;
    margin-left:44px;
    font-size:20px;
}
.read-more-button{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    background-color: Transparent;
    border:3px solid #ffe18f;
    margin-top:341px;
    margin-left:41px;
    height:38px;
}
.read-more-button a{
    color:#ffffff;
}
/*footer*/
#footer{
    max-width: 1020px;
    height: 137px;
    margin-left:120px;
}

.corpyright{
   padding: 51px 0 70px;
   color:#807d88;
   box-shadow:#996699;

}
.social-media{
    display: flex;
    position: relative;
    margin-left:auto;
    
}
.facebook-media{
    background-position: left;
    padding:51px 0 70px;
    margin-right: 25px;
    align-self: auto;
}
.twitter-media{
    background-position: right;
    padding:51px 0 70px;
    
}

